* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 0.5px solid #000;
}

.img-header {
  max-width: 200px;
  height: auto;
  margin: auto;
}

.header-links {
  display: flex;
  gap: 10px;
}

.header-links a:hover {
  transition: color 0.3s ease;
  color: #259a1d;
}

.btn-login {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #259a1d;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #1d7f16;
}

.btn-register {
  position: fixed;
  top: 70px;
  right: 20px;
  padding: 10px 20px;
  background-color: #1d7f16;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-register:hover {
  background-color: #166213;
}

.wrapper-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 40px 20px;
  text-align: center;
  border-bottom: 0.5px solid #000;
}

.text-hero {
  max-width: 32ch;
  font-size: 35px;
}

.img-hero {
  margin-top: -19rem;
  max-width: 100%;
  height: auto;
}

.wrapper-hero2 {
  position: relative;
  background-color: #e5e5e5;
  padding: 60px 20px;
  border-bottom: 0.5px solid #686868;
}

.text-hero2 {
  text-align: center;
  margin-bottom: 20px;
}

.text-hero2 h1 {
  font-size: 3em;
}
.button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button a {
  padding: 15px 30px;
  font-size: 1em;
  text-decoration: none;
  color: white;
  border-radius: 5px;
}

.projetos {
  margin-top: 2rem;
  background-color: #1d7f16;
}

.projetos:hover {
  transition: all 0.3s ease;
  background-color: #166213;
}
.wrapper-hero3 {
  position: relative;
  background-color: #e5e5e5;
  padding: 60px 20px;
}
.text-hero3 {
  text-align: center;
  margin-bottom: 20px;
}
.text-hero3 h2 {
  font-size: 3em;
}
.text-hero3 p {
  font-size: 25px;
}
.map-hero3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.footer {
  border-top: 0.5px #fff solid;
  background-size: cover;
  background-color: #259a1d;
  padding: 50px 0;
  text-align: center;
}
.footer .social-icons {
  margin-bottom: 20px;
}
.footer .social-icons p {
  color: #f1f1f1;
  margin-bottom: 20px;
}
.footer .social-icons a {
  color: #fff;
  margin: 0 10px;
  font-size: 24px;
  text-decoration: none;
}
.footer .footer-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.footer .footer-links div {
  margin: 0 20px;
}
.footer .footer-links div h3 {
  color: #fff;
  margin-bottom: 10px;
}
.footer .footer-links div a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}
.footer .policy {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer .policy a {
  color: #fff;
  margin: 0 15px;
  text-decoration: none;
}
.footer a:hover {
  transition: all 0.3s ease;
  color: #166213;
}
